@charset "utf-8";

/*ui-radio 单选样式，可根据实际项目需求进行调整*/

input.ui-radio {
    margin: 0;
    margin-right: -18px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: text-bottom;
}

span.ui-radio {
    display: inline-block;
    border: 1px solid #CCC;
    background-color: #fff;
    height: 16px;
    width: 16px;
    border-radius: 20px;
    vertical-align: text-bottom;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

span.ui-radio:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 16px;
    background-color: #AAA;
}

input.ui-radio:checked+span.ui-radio {
    border-color: #25AB5E;
}

input.ui-radio:checked+span.ui-radio:after {
    background-color: #25AB5E;
}

input.ui-radio:disabled + span.ui-radio {
    filter: alpha(opacity=60);
    opacity: .6;
    cursor: not-allowed;
}

span.ui-radio.on,
span.ui-radio.off {
    height: 18px;
    width: 18px;
    border: none;
    background: transparent url(ui-radio.png) no-repeat 0 -2px;
}

span.ui-radio.on:after,
span.ui-radio.off:after {
    display: none;
}

span.ui-radio.on {
    background-position: 0 -30px;
}

span.ui-radio.disabled {
    filter: alpha(opacity=60);
    cursor: not-allowed;
}

label.ui-label {
    display: inline-block;
    cursor: pointer;
    line-height: 34px;
    height: 34px;
    border-radius: 4px;
    padding: 0 10px 0 0;
    margin-right: 10px;
    vertical-align: top;
}

label.ui-label:hover {
    color: #111;
    background-color: #F8F9FA;
}
